{{ define "main" }}

<div class="main-sidebar with-sidebar container" id="top">
	<div>{{ partial "page/main-header.html" . }}</div>
	<main id="blog" class="main-section stack padding-2xl gap-2xl">
		<div class="cluster gap-xl justify-center">
			{{ partial "page/nav-items.html" .}}
		</div>

		<div class="stack gap-2xl">
			<h2 class="h2 accented-fg-color text-centered">Category: {{ .Title }}</h2>
			<div
				class="stack gap-2xl justify-center"
				itemscope=""
				itemtype="https://schema.org/Blog"
			>
				{{ range .Paginator.Pages }} {{ partial
				"article/article-summary-card.html" . }} {{ end }}
			</div>
		</div>
		{{ partial "page/pagination.html" .}}
	</main>
</div>
{{ end }}
