::selection {
	color: var(--background);
	background: var(--accent-color);
}

/* typography */
h1,
h2,
h3,
h4,
h5,
p,
small,
a {
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
}

a {
	color: var(--foreground-color);
	text-decoration: underline;
	text-underline-offset: 0.3125rem;
}

a:hover {
	color: var(--accent-color);
}

h1,
.h1 {
	font-size: var(--h1);
	line-height: 2.2;
}
h2,
.h2 {
	font-size: var(--h2);
	line-height: 2;
}
h3,
.h3 {
	font-size: var(--h3);
	line-height: 1.8;
}

p,
h4,
.h4,
a {
	font-size: var(--base-size);
	line-height: 1.7;
}
h5,
.h5,
.small {
	font-size: var(--text-sm);
	line-height: 1.5;
}

.initial-line-height {
	line-height: initial;
}

.text-centered {
	text-align: center;
}

.link {
	text-decoration: none;
	color: var(--foreground-color);
}

.link:hover {
	color: var(--accent-color);
}

.accented-link {
	color: var(--accent-color);
	background: transparent;
	text-decoration: none;
}

.accented-link:hover {
	text-decoration: underline;
}

.accented-fg {
	color: var(--accent-color);
}

.muted-fg {
	color: var(--muted-grey-color);
}

.text-underlined {
	text-decoration: underline;
	text-underline-offset: 0.3125rem;
}

.text-undecorated {
	text-decoration: none;
}

code {
	font-family: monospace;
	font-size: inherit;
}

p > code,
li > code,
dd > code,
td > code {
	background: var(--muted-accent-color);
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0.1rem 0.3rem 0.2rem;
	border-radius: 0.2rem;
}

blockquote {
	background: var(--muted-accent-color);
	border-left: 10px solid var(--accent-color);
	padding: 0.5rem 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: var(--accent-color);
	content: open-quote;
	font-size: 4rem;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}
