<script src="{{ .Site.BaseURL }}js/dark-mode.js"></script>
<script src="{{ .Site.BaseURL }}js/top-bar.js"></script>
<script type="text/javascript">
	(function () {
		topbar.show();
		window.addEventListener("load", () => {
			topbar.hide();
		});

		window.addEventListener("beforeunload", () => {
			topbar.show();
		});
	})();
</script>

<script async type="text/javascript">
	const preElementInHighLight = document.querySelectorAll(".highlight > pre");

	preElementInHighLight.forEach((el) => {
		el.style.padding = "1rem";
	});
</script>
<script type="text/javascript">
	(function shareButtons() {
		const currentURL = window.location.origin + window.location.pathname;
		const copyButtons = document.getElementsByClassName("copy-button");
		const shareButtonLinks = document.querySelectorAll("a.share-link");

		Array.prototype.forEach.call(copyButtons, function (copyButton, index) {
			copyButton.addEventListener("click", async () => {
				await navigator.clipboard.writeText(currentURL);
			});
		});

		shareButtonLinks.forEach((el) => {
			el.href += currentURL;
		});
	})();
</script>
