{{ define "main" }}

<div class="main-sidebar with-sidebar container" id="top">
	<div>{{ partial "page/main-header.html" . }}</div>
	<main id="blog" class="main-section stack padding-2xl gap-2xl">
		<div class="cluster gap-xl justify-center">
			{{ partial "page/nav-items.html" .}}
		</div>

		<div class="stack gap-2xl">
			{{ partial "page/headline.html" . }}
			<div
				class="stack gap-2xl justify-center"
				itemscope=""
				itemtype="https://schema.org/Blog"
			>
				{{ $pag := .Paginate (where .Site.RegularPages "Type" "in"
				.Site.Params.mainSections) }} {{ range $pag.Pages.ByDate.Reverse }} {{
				partial "article/article-summary-card.html" . }} {{ end }}
			</div>
		</div>
		{{ partial "page/pagination.html" .}}
	</main>
</div>
{{ end }}
