<article class="stack posts__card gap-xl">
	{{ with .Resources }} {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }} {{
	$cover := .Resize "600x" }} {{ with $cover }}
	<div class="frame square fluid-picture">
		<img src="{{ .Permalink }}" alt="{{ .Title }} cover" />
	</div>
	{{ end }} {{ end }} {{ end }}

	<div class="stack gap-sm posts__card__content">
		<div class="title-section stack gap-2xs">
			<h3>
				<a
					class="h2 link post-link__title initial-line-height"
					href="{{ .RelPermalink }}"
					>{{ .Title }}
				</a>
				<h4 class="h4 muted-fg-color">{{ .Params.subtitle}}</h4>
			</h3>
		</div>

		<div class="cluster gap-sm">
			{{ $categories := .Params.categories }} {{range $index, $category :=
			$categories }}

			<a href="/categories/{{ lower $category }}" class="button button-link h4"
				>{{ $category }}</a
			>

			<!-- Add the separator when there are more than two categories -->
			{{ if not (eq (add $index 1) (len $categories)) }} &#8226; {{ end }} {{
			end }}
		</div>
		<p class="p">{{ .Summary }}</p>
		<a
			href="{{ .RelPermalink }}"
			class="button button-link post-link__read-more"
			>Read More</a
		>
	</div>
	<footer class="post__card__footer cluster margin-top-decoration gap-lg">
		<span class="muted-fg">by {{ .Params.author }}</span>

		{{ $dateTime := .PublishDate.Format "2006-01-02" }} {{ $dateFormat :=
		.Site.Params.dateFormat | default "January 2, 2006" }}
		<time class="muted-fg" datetime="{{ $dateTime }}"
			>{{ .PublishDate.Format $dateFormat }}</time
		>
	</footer>
</article>
