{{ if not .Params.shouldHideShareButtons }}
<section class="social-share stack gap-md">
	<h3 class="h3">Share with your mates!</h3>
	<nav class="cluster gap-sm">
		<a
			href="https://www.facebook.com/sharer/sharer.php?u="
			class="share-link button button-link icon-size-md"
			title="Share on facebook"
			rel="noopener noreferrer"
			target="_blank"
		>
			<i class="fa-brands fa-facebook-f"></i>
		</a>
		<a
			href="https://twitter.com/share?url="
			class="share-link button button-link icon-size-md"
			title="Share on twitter"
			rel="noopener noreferrer"
			target="_blank"
		>
			<i class="fa-brands fa-twitter"></i>
		</a>
		<a
			href="https://www.linkedin.com/sharing/share-offsite/?url="
			class="share-link button button-link icon-size-md"
			title="share on Linkedin"
			rel="noopener noreferrer"
			target="_blank"
		>
			<i class="fa-brands fa-linkedin-in"></i>
		</a>
		<a
			href="https://t.me/share/url?text={{ .Title }}&url="
			class="share-link button button-link icon-size-md"
			title="share on telegram"
			rel="noopener noreferrer"
			target="_blank"
		>
			<i class="fa-brands fa-telegram"></i>
		</a>
		<a
			href="whatsapp://send?text="
			class="share-link button button-link icon-size-md"
			title="share on whatsapp"
			rel="noopener noreferrer"
			target="_blank"
		>
			<i class="fa-brands fa-whatsapp"></i>
		</a>
		<button
			class="button button-link icon-size-md copy-button"
			title="Copy link"
			type="button"
		>
			<i class="fa-regular fa-copy"></i>
		</button>
	</nav>
</section>
{{ end }}
